@import '../core/responsive';
@import '../core/mixins';
@import '../core/function';
@import '../core/variables';

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: rem(18);
  padding-bottom: rem(20);
  // border-top: rem(1) solid $color-lineFormulary;

  @include tablet {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: rem(41);
    padding-right: rem(40);
  }

  &__text {
    font-size: rem(14);
    font-family: $font-Open;
    color: $color_footer;
    opacity: 0.5;
    margin-bottom: rem(12);

    @include tablet {
      margin-bottom: 0;
    }
  }

  &__box {
    &--logo {
      width: rem(103);
      height: rem(40);
    }
  }
}