//Landing
@import '../core/responsive';
@import '../core/mixins';
@import '../core/function';
@import '../core/variables';
.main {
  height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-whiteGround;
  padding-left: rem(25.6);
  padding-right: rem(26.4);
  @include tablet {
    height: rem(963);
    padding: 0 rem(174) rem(60) rem(175);
  }
  &__img {
    width: rem(250);
    height: rem(63);
    margin-top: rem(95);
    margin-top: 10%;
    margin-bottom: rem(35.4);
    @include tablet {
      margin-top: rem(350);
      width: rem(419);
      height: rem(105);
      margin-bottom: rem(31);
    }
  }
  &__title {
    color: $color-orange;
    font-family: $font-Merri;
    font-weight: 900;
    font-size: rem(19.2);
    margin-bottom: rem(5);
    @include tablet {
      font-size: rem(24);
    }
  }
  &__text {
    color: $color-darkGreen;
    font-family: $font-Open;
    font-size: rem(12.8);
    
    margin-bottom: rem(17.8);
    text-align: center;
    line-height: rem(15);
    @include tablet {
      font-size: rem(16);
      line-height: rem(20);
    }
  }

  &__list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    border: solid rem(1.6) $color-orange;
    border-radius: rem(5);
    gap: rem(24);
    padding: rem(15) rem(20) rem(17.8) rem(20);
    margin-top: rem(17.8);
    margin-bottom: rem(38.6);
    @include tablet {
      padding: rem(15) rem(31.5) rem(22) rem(31.5);
      border: solid rem(2) $color-orange;
      gap: rem(51.5);
      margin-bottom: rem(186);
    }
    &--item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $color_gunMetal;
      font-family: $font-Open;
      font-size: rem(12.8);
      text-align: center;
      min-width: 25%;
      gap: rem(5);
      @include tablet {
        font-size: rem(16);
      }
    }
    &--icon {
      @include icons-landing;
      @include tablet {
        font-size: rem(40);
      }
    }
  }
  &__button {
    font-family: $font-Open;
    font-weight: 600;
    color: white;
    font-size: rem(16);
    background-color: $color-start;
    padding: rem(10) rem(20) rem(10) rem(20);
    border-radius: rem(50);
    text-decoration: none;
    text-transform: uppercase;
   @include tablet {
      font-size: rem(16);
      padding: rem(10) rem(20.5);
      
    }
  }
}
